<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegProcessServlet</servlet-name>
        <servlet-class>RegProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProcessServlet</servlet-name>
        <servlet-class>LoginProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegProcessServlet1</servlet-name>
        <servlet-class>RegProcessServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProcessServlet1</servlet-name>
        <servlet-class>LoginProcessServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyProcServlet</servlet-name>
        <servlet-class>ApplyProcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveProcServlet</servlet-name>
        <servlet-class>ApproveProcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeeProcServlet</servlet-name>
        <servlet-class>FeeProcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginProcessServlet</servlet-name>
        <servlet-class>AdminLoginProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveStudProcServlet</servlet-name>
        <servlet-class>RemoveStudProcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveInchargeProcServlet</servlet-name>
        <servlet-class>RemoveInchargeProcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutProc</servlet-name>
        <servlet-class>LogoutProc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutProcServlet</servlet-name>
        <servlet-class>LogoutProcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutProcServlet1</servlet-name>
        <servlet-class>LogoutProcServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutProcServlet2</servlet-name>
        <servlet-class>LogoutProcServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegProcessServlet</servlet-name>
        <url-pattern>/RegProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProcessServlet</servlet-name>
        <url-pattern>/LoginProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegProcessServlet1</servlet-name>
        <url-pattern>/RegProcessServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProcessServlet1</servlet-name>
        <url-pattern>/LoginProcessServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyProcServlet</servlet-name>
        <url-pattern>/ApplyProcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveProcServlet</servlet-name>
        <url-pattern>/ApproveProcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeeProcServlet</servlet-name>
        <url-pattern>/FeeProcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginProcessServlet</servlet-name>
        <url-pattern>/AdminLoginProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveStudProcServlet</servlet-name>
        <url-pattern>/RemoveStudProcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveInchargeProcServlet</servlet-name>
        <url-pattern>/RemoveInchargeProcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutProc</servlet-name>
        <url-pattern>/LogoutProc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutProcServlet</servlet-name>
        <url-pattern>/LogoutProcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutProcServlet1</servlet-name>
        <url-pattern>/LogoutProcServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutProcServlet2</servlet-name>
        <url-pattern>/LogoutProcServlet2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
